.unit
{
  position: fixed;
}

#units
{
  margin:0 auto;
  width:1280;
  height: 0;
  background-color: transparent;
  position: relative;
  left: 0;
  top: 0;
}

.poison_info
{
  font-size: 12;
  font-family: '黑体';
  color: white;
}


.reinforce_info
{
  font-size: 12;
  font-family: '黑体';
  color: white;
}

.level_info
{
  font-size: 8;
  font-family: '黑体';
  color: white;
}